{% extends "base.html" %}
{% block content %}
<div class="flex items-center justify-center min-h-[70vh]">
    <div class="glass-panel border border-cyan-500/30 rounded-2xl w-full max-w-sm p-8 shadow-2xl shadow-cyan-900/50">
        <div class="text-center mb-6">
            <i class="fa-solid fa-user-astronaut text-4xl text-cyan-400 mb-2"></i>
            <h2 class="text-2xl font-black text-white tracking-widest">KAYIT OL</h2>
            <p class="text-xs text-slate-400">ROV4LOVE Mürettebatına Katıl</p>
        </div>
        
        <!-- Hata Mesajları İçin Alan (Örn: "Bu isim zaten alınmış") -->
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% if messages %}
            <div class="bg-rose-500/20 border border-rose-500/50 text-rose-300 p-2 rounded mb-4 text-xs text-center">{{ messages[0] }}</div>
            {% endif %}
        {% endwith %}

        <form action="{{ url_for('register') }}" method="POST" class="space-y-4">
            <div>
                <input type="text" name="username" required placeholder="Kullanıcı Adı" class="w-full bg-ocean-900 border border-ocean-700 rounded-lg p-3 text-sm text-white focus:outline-none focus:border-cyan-500 text-center">
            </div>
            <div>
                <input type="password" name="password" required placeholder="Şifre Belirle" class="w-full bg-ocean-900 border border-ocean-700 rounded-lg p-3 text-sm text-white focus:outline-none focus:border-cyan-500 text-center">
            </div>
            <button type="submit" class="w-full bg-blue-600 hover:bg-blue-500 text-white font-bold py-3 rounded-lg shadow-lg shadow-blue-500/30 transition mt-2">
                Sisteme Kayıt Ol
            </button>
        </form>
        
        <p class="text-center text-xs text-slate-500 mt-4">Zaten mürettebattan mısın? <br> <a href="{{ url_for('login') }}" class="text-cyan-400 font-bold hover:text-cyan-300">Giriş Yap</a></p>
    </div>
</div>
{% endblock %}